<h2>Manage registration worklog</h2>
<h3>Registration id{{selectedRegistration?.id}}</h3>
<h3>{{selectedRegistration?.student?.email}}</h3>
<h3>{{selectedRegistration?.course?.name}}</h3>

<form (ngSubmit)="registerWorkLog()">
    <label for="taskCategory">Task Category</label>
    <input type="text" id="taskCategory" name="taskCategory" [(ngModel)]="workLog.taskCategory" required>
    
    <label for="taskDescription">Task Description</label>
    <input type="text" id="taskDescription" name="taskDescription" [(ngModel)]="workLog.taskDescription" required>
    
    <label for="taskDate">Start Date:</label>
    <input type="date" id="taskDate" name="taskDate" [(ngModel)]="workLog.taskDate" required>


    <label for="taskMinutes">Task Minutes</label>
    <input type="number" id="taskMinutes" name="taskMinutes" [(ngModel)]="workLog.taskMinutes" required>
    
    <button type="submit">Create Work Log</button>
  </form>

  <app-item-list
  title="Student worklog on course"
  [items]=allWorkLogs
  [itemDescription]=getWorkLogDescription
  itemDetailPath="/worklog_detail"
></app-item-list>

<button type="button" (click)="goBack()">Cancel</button>