<h2>Student {{this?.user?.email}}</h2>
<div class="two-lists-container">
    <div class="vertical-area">
        <app-item-list
            title="Student Registered Courses"
            [items]=allRegistrations
            [itemDescription]=getRegistrationDescription
            itemDetailPath="/registration"
        ></app-item-list>
    </div>
    <div class="vertical-area">
        <app-item-list 
            title='Register into new Course' 
            [items]=allCourses
            itemDetailPath="/course_registration"></app-item-list>
    </div>
</div>
<button type="button" (click)="goBack()">Cancel</button>